
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1;
	scroll-behavior: smooth;
}

ol,ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

a img {
	border: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block;
}

strong,b {
	font-weight: bold;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none !important;
	-webkit-tap-highlight-color: transparent;
}

*:before,*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*::-moz-selection {
	background: rgba(255,217,16,0.6);
	color: #192330;
}

*::selection {
	background: rgba(255,217,16,0.6);
	color: #192330;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	color: #535b65;
	line-height: 1.5;
	font-size: 18px;
	font-family: "Montserrat",sans-serif;
	min-width: 320px;
	background-color: #FCE3E0;
	overflow-x: hidden;
	position: relative;
}

.hide {
	display: none;
}

.header {
	background-color: #CF1461;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo-dolce {
    max-width: 100px;
    height: auto;
	padding-left: 10px;
}

.header-buttons {
	display: flex;
	gap: 20px;
	padding-right: 10px;
	padding: 10px;
	color: #FFD700;
}

#section-one {
	background: url(images/background-hero.jpg);
	background-size: cover;
	height: auto;
	width: 100%;
}

.section-one-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 5vh;
	padding-top: 5vh;
	gap: 15vw;
}

.part-one-hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

#craving-sweets {
	height: 180px;
	width: auto;
}

.part-two-hero {
	display: none;
}

@media (min-width: 630px) {
	.part-two-hero {
		display: flex;
		flex-direction: column;
		gap: 10px;
		background: linear-gradient(to top, #FFD700, transparent);
		border-radius: 20px;
	}
}

.part-two-hero > h1 {
	color: white;
	font-weight: bold;
	font-size: 1.75rem;
	text-transform: uppercase;
}

.part-two-hero > img {
	max-width: 300px;
	height: auto;
}

.part-two-hero-btns {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 30px;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.quantity-selector {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.btn {
	max-width: fit-content;
	cursor: pointer;
	padding: 5px;
	opacity: .7;
	font-size: 1.75rem;
	color: black;
}

#quantity {
	width: 40px;
	text-align: center;
	margin: 0 10px;
	background: transparent;
	border: none;
	color: black;
}

.quantity {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border: none;
}

.quant-cart {
	color: black;
	padding: 15px;
	background-color: #FFD700;
	border-radius: 5px;
}

.quant-cart:hover {
	color: white;
	background-color: rgb(216, 0, 216);
	cursor: pointer;
}

.quant-cart:active {
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.buyNow {
	background: linear-gradient(to left, white 50%, purple 50%) right;
	background-size: 200%;
	transition: .5s ease-out;
	color: black;
	border: none;
	padding: 15px 25px;
	font-size: 1.25rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
}

.buyNow > span {
	vertical-align: bottom;
}

.buyNow:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	background: radial-gradient(circle, transparent 20%, rgba(169, 169, 169, 0.5) 70%, rgba(169, 169, 169, 0) 80%);
	opacity: 0;
	transition: transform .2s, opacity .2s;
}

.buyNow:active::before {
	width: 200%;
	height: 200%;
	transform: translate(-50%, -50%);
	opacity: 1;
}

.buyNow:hover {
	cursor: pointer;
	background-position: left;
	color: white;
}

/* product types*/

#products-section {
	display: flex;
	flex-direction: column;
}

#products-section > h1 {
	color: #CF1461;
	font-weight: normal;
	font-size: 3rem;
	text-align: center;
	padding-top: 30px;
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

#products-section > span {
	display: inline-block;
	animation: bounce 1s infinite;
	margin: 2vh auto;
	color: purple;
}

.sweet-types {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sweet-container {
	width: 100%;
}

.choco {
	background: url(images/chocopattern.png);
	background-position: center;
	background-size: cover;
	height: 150px;
	position: relative;
}

.title h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	color: white;
	text-transform: uppercase;
	font-weight: 1000;
	text-align: center;
	padding: 5px 10px;
	line-height: 40px;
}

.gummy {
	background: url(images/gummy.jpg);
	background-position: center;
	background-size: cover;
	height: 150px;
	position: relative;
}

.traditional {
	background: url(images/world-map.jpg);
	background-position: center;
	background-size: cover;
	height: 150px;
	position: relative;
}

.sweets-grid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 70px;
	max-width: 800px;
	overflow: hidden;
}

.sweet-card {
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sweet-card > p {
	font-size: .8em;
	text-align: left;
}

.choco-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.choco-group {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.sortiment-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 15px;
	margin-bottom: 3vh;
}

.sortiment-buttons > button {
	background-color: #FFD700;
	border: none;
	border-radius: 20px;
	padding: 5px 15px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	transition: .2s;
	font-size: 0.75rem;
	cursor: pointer;
}

.sortiment-buttons > button:hover {
	background-color: rgba(255, 255, 255, 0.2)
}

.sortiment-buttons > button:focus {
	background-color: rgb(216, 0, 216);
	color: white;
	box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
	font-weight: 600;
}

#about-us {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-us-header {
	position: relative;
	width: 100%;
}

#about-us-text {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
    height: auto;
    display: block;
}

#about-us > p {
	max-width: 750px;
	padding-left: 5vh;
	padding-right: 5vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

.socials-about-section {
	display: flex;
	flex-direction: row;
	gap: 5vw;
	margin-top: 10vh;
}

.socials-about-section > a {
	text-decoration: none;
	color: black;
	opacity: 0.5;
}

.socials-about-section > a:hover { 
	opacity: 1;
	transition: 0.2s ease-in;
}

.socials-about-section > :nth-child(1):hover {
	color: blue;
}

.socials-about-section > :nth-child(2):hover {
	color: rgb(207, 27, 207);
}

.socials-about-section > :nth-child(3):hover {
	color: red;
}

#advantages-dolce {
	height: 300px;
	background-color: red;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: center;
	align-items: center;
	margin-top: 10vh;
}

.advantage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	color: white;
}

.advantage > span {
	font-weight: lighter;
	font-size: 3rem;
}

.advantage > p {
	font-weight: normal;
}

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #202124;
	height: 400px;
	gap: 10vw;
}

.sub-part { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#sub-logo {
	height: 130px;
	width: auto;
}

#email {
	border: none;
	padding: 5px 15px;
	font-family: 'Montserrat', sans-serif;
}

form > button {
	border: none;
	background-color: #FA00FF;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	padding: 5px 15px;
}

.contact-part > li {
	list-style: none;
	color: white;
	opacity: .5;
}